### Dequeue Example

In [2]:
from collections import deque

name1 = 'william'
name2 = 'amanda'

name1_stack = deque(name1)
name2_stack = deque(name2)

if (max := len(name1_stack)) < len(name2_stack):
    max = len(name2_stack)


interleaved = deque()
for index in range(max):
    if len(name1_stack) != 0:
        interleaved.append(name1_stack.popleft())
    if len(name2_stack) != 0:
        interleaved.append(name2_stack.popleft())

interleaved

deque(['w', 'a', 'i', 'm', 'l', 'a', 'l', 'n', 'i', 'd', 'a', 'a', 'm'])

In [3]:
list1 = [1,2,4,7]
list2 = [3,5,7,8] 

spliced = []
for _ in range(len(list1) + len(list2)):
    while list1 and list2:
        if (list1_num := list1.pop()) > (list2_num := list2.pop()):
            spliced.append(list1_num) 
            list2.append(list2_num)
        else:
            spliced.append(list2_num) 
            list1.append(list1_num)

    while list1:
        spliced.append(list1.pop())

    while list2:
        spliced.append(list2.pop())

reversed = []
while spliced:
    reversed.append(spliced.pop())
reversed

[1, 2, 3, 4, 5, 7, 7, 8]

### Combined Dicts

In [4]:
dict1 = {"red": 5, "blue": 1, "white": 4}
dict2 = {"green": 7, "red": 2}

def combine_dicts(dict1: dict, dict2: dict) -> dict:
    dict1_keys = set(dict1.keys())
    dict2_keys = set(dict2.keys())

    common_keys = dict1_keys.intersection(dict2_keys)

    combined_dict = dict(dict1)
    combined_dict.update(dict2)

    for key in common_keys:
        combined_dict.update({key: dict1.get(key)+dict2.get(key)})

    return combined_dict

combine_dicts(dict1,dict2)

{'red': 7, 'blue': 1, 'white': 4, 'green': 7}

## Palindrone

In [5]:
def is_palindrome(string: str) -> bool:
    return string.lower() == string.lower()[::-1]

is_palindrome('racecar'), is_palindrome('hello')

(True, False)

## Convert Roman Numeral to Integer

In [6]:
# ie. VII -> 7, IV -> 4, IX -> 9, XL -> 40, CDXXIX -> 429, CD -> 400, CM -> 900

def roman_numeral_to_int(roman: str) -> int:
    roman_numerals = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }

    value = 0
    for index, numeral in enumerate(roman):
        if index < len(roman) - 1 and roman_numerals[numeral] < roman_numerals[roman[index+1]]:
            value -= roman_numerals[numeral]
        else:
            value += roman_numerals[numeral]

    return value
roman_numeral_to_int('CDXXIX'), roman_numeral_to_int('XI')

(429, 11)

## Function Argument Exploration

In [7]:
def apply_math_op(*numbers, math_op = '+'):
    print(type(numbers))
    result = 0 if math_op == '+' or math_op == '-' else 1
    for number in numbers:
        match math_op:
            case '+': 
                result += number
            case '*':
                result *= number
    return result

        


apply_math_op(1,2,3,**{'math_op':'*'})

<class 'tuple'>

6

## Decorator Practice

In [8]:
def decorated(func):
    def wrapper(*args, **kwargs):
        print(f'Before {func.__name__} call')
        result = func(*args, **kwargs)
        print(f'After {func.__name__} call')
        return result
    return wrapper

def greeting(**names) -> str:
    print(f"Hello {' '.join([names['first'], names['middle'], names['last']])}")

greeting = decorated(greeting)

greeting(**{'first':'william', 'middle':'james', 'last':'smith'})

Before greeting call
Hello william james smith
After greeting call

## Data Classes

In [9]:
# First namedtuple
from collections import namedtuple

Person = namedtuple('Person', 'first middle last')
william = Person('william', 'nehal', 'khan')
william.first

'william'

In [10]:
# Second NamedTuple
import typing 
# Person = typing.NamedTuple('Person', [('first', str), ('middle', str), ('last', str)])
Person = typing.NamedTuple('Person', first=str, middle=str, last=str)
william = Person('william', 'nehal', 'khan')
william.first

'william'

In [11]:
# NamedTuple class syntax

class Person(typing.NamedTuple):
    first: str
    middle: str
    last: str

    def __str__(self):
        return f'Full Name: {self.first} {self.middle} {self.last}'

william = Person(first='willie',middle='nehal',last='khan')
print(william)

Full Name: willie nehal khan

In [12]:
# Third Data Class
from dataclasses import dataclass

@dataclass(frozen=True)
class Person:
    first: str
    middle: str
    last: str

    def __str__(self):
        return f'Full Name: {self.first} {self.middle} {self.last}'

amanda = Person('amanda', 'jane', 'smith')        
print(amanda)

Full Name: amanda jane smith

In [13]:
try:
    amanda.first = 'amanda'
except Exception as e:
    print('It\'s frozen')
    print(e)

It's frozen
cannot assign to field 'first'